
.main_index_main_div{
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 0;
    height: 400px;
    width: 960px;
    text-align: center;
}
.main_index_header{
    //text-align: center;
    //float: left;
}


.main_index_header h1{
    padding-top: 40px; 
    text-transform: uppercase;
    //text-align: center;
    //float: left;
}

.main_index_header h2{
    //text-align: center;
    //float: left;
}
.main_index_header label{
    //float: left;
}
.main_index_menu label{
     font-size: 20px;
     color: blue;
}
.main_index_menu a{
   color: red;
   font-size: 20px;
}
.index_main_div{
   background-color: #f2f2f2;
    margin: 0 auto;
    padding: 0;
    height: 250px;
    width: 960px;
    text-align: center; 
    font-size: 20px;
}
.index_menu_div{
  padding-top: 20px;
  float: right;
}
.index_menu_div label{
    color: blue;
}
#id_Registered{
    margin-left:65px;
}
#id_notRegistered{
    margin-right:10px;
}
.index_menu_div a{
      color: red;
}
a:hover{
    color: #23527c;
    
}
/*a:visited{
    color: blueviolet;
    
}*/
a:active{
    color: blueviolet;
    
}